*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ope Sans";
}

/***boot CSS**/
.center{
	max-width: 1280px;
	padding:0 2%;
	margin:0 auto;
}

.w33{
	width: 33.3%;
}

.w50{
	width: 50%;
}

.left{
	float: left;
}
.reght{
	float: right;
}

.clear{
	clear: both;
}

/**estilizacao do site**/

header{
	padding:20px 0;
	background: #3D437A;
}

header .logo{
	font-size: 23px;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
}

.moblile{
	display: none;
}

nav.desktop ul{
	list-style-type: none;
}

nav.desktop li{
	font-weight: 300;
	font-size: 15px;
	padding:0 30px;
	text-transform: uppercase;
	display: inline-block;
}

nav.desktop a{
	clolor: white;
	text-decoration: none;
}